#parse("/templates/$!{templateName}/inc/header.vm")
<div id="nav">
<a class="nav" href="/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a>
</div>
<div class="mainbox formbox"><span class="headactions">
<a class="notabs" href="/forum/help/member.jsp" target="_blank"></a></span> 
<h1>${I18n.getMessage("User.agreement.title")}</h1>
<table class="mainbox" align="center" border="0" cellpadding="3" cellspacing="1" width="80%">
	<tr>
		<td class="row1" colspan="2" width="100%">
			<span class="gen">$!{I18n.terms}</span>
		</td>
	</tr>				
	<tr align="center">
		<td class="catbottom" colspan="2" height="28">
			<button class="submit" value="${I18n.getMessage("User.agreement.accept")}" name="submit" onclick="document.location = '${contextPath}/register.html';" type="button">${I18n.getMessage("User.agreement.accept")}</button>&nbsp;&nbsp;
			<button class="submit" value="${I18n.getMessage("User.agreement.noAccept")}" onclick="document.location = '${contextPath}/index.html';" type="button">${I18n.getMessage("User.agreement.noAccept")}</button>
		</td>
	</tr>
</table>
</div>
#parse("/templates/$!{templateName}/inc/bottom.vm")