#parse("/templates/$!{templateName}/inc/header.vm")
<form action="${contextPath}/sso.html" method="post" name="loginform" id="loginform" accept-charset="${encoding}">
  <input type="hidden" name="path" value="${contextPath}/index.html" />
<div id="nav">
	<a class="nav" href="${contextPath}/index.html">${I18n.getMessage("ForumListing.forumIndex")}</a>
</div>
<div class="mainbox formbox"><span class="headactions">
	<a class="notabs" href="/forum/help/member.jsp" target="_blank"></a></span> 
	<h1>${I18n.getMessage("Login.enterUsername")}</h1>
	<table class="mainbox" cellspacing="1" cellpadding="4" width="100%" align="center" border="0">
#if($message&&$mesage!="")
			<tr>
				<td></td>
				<td align="left">
						<font color="red">${I18n.getMessage("Login.invalidLogin")}</font>
				</td>
			</tr>
#end
		<tr>
		    <td width="15%"><label for="userID">${I18n.getMessage("Login.user")}:</label></td>
		    <td>
			    <input class="post" tabindex="1" maxlength="40" size="25" name="username" type="text"/>
			    <a href="/user/activateManual")}">${I18n.getMessage("ActivateAccount.activate")}</a>
		    </td>
	    </tr>
	
		<tr>
			<td><label for="pwd1">${I18n.getMessage("Login.password")}:</label></td>
			<td><input class="post" tabindex="2" type="password" maxlength="25" size="25" name="password" />
			<a href="/user/lostPassword")}">${I18n.getMessage("Login.lostPassword")}</a>
			<font color="red">#if($errorCode==1)登录失败#end</font>
			</td>
		</tr>
		<tr align="center">
			<td/>
			<td align="left">
				<input type="hidden" name="redirect" />
				<button class="submit" tabindex="100" name="loginsubmit" type="submit" value="true" onclick="javascript:parent.frames['leftmenu'].location.reload();">${I18n.getMessage("Login.enter")}</button>
#if($autoLoginEnabled)
					<input type="checkbox" id="autologin" name="autologin" /><label for="autologin">${I18n.getMessage("Login.autoLogon")}</label>
#end
			</td>
		</tr>
	</table>
	</form>
</div>
#parse("/templates/$!{templateName}/inc/bottom.vm")