#parse("/templates/$!{templateName}/inc/header.vm")

<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/pagination.js?${startupTime}"></script>
<div id="nav">
	<a class="nav" href="/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a>
</div>
<DIV class=pages_btns>
	<div class="pages">
		<a class="nav" href="/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a>
	</div>
	<#assign paginationLinks>
		<@pagination.doPagination action/>
	</#assign>
	${paginationLinks}
</DIV>
<div class="mainbox formbox"><span class="headactions">
	<a class="notabs" href="/forum/help/member.jsp" target="_blank"></a></span> 
	<h1>${I18n.getMessage("Search.searchResults")}:${totalRecords} #if ($totalRecords == 1)${I18n.getMessage("Search.recordFound")}#else${I18n.getMessage("Search.recordsFound")}#end</h1>
	<table class="mainbox" cellspacing="1" cellpadding="4" border="0">
		<thead>
			<tr class="catlogs">
				<td align="center" width="10%">&nbsp;</td>
				<td align="center">&nbsp;${I18n.getMessage("Forums.Form.ForumName")}&nbsp;</td>
				<td align="center">&nbsp;${I18n.getMessage("ForumIndex.topics")}&nbsp;</td>
				<td align="center" width="10%">&nbsp;${I18n.getMessage("ForumIndex.answers")}&nbsp;</td>
				<td align="center" width="10%">&nbsp;${I18n.getMessage("ForumIndex.author")}&nbsp;</td>
				<td align="center" width="10%">&nbsp;${I18n.getMessage("ForumIndex.views")}&nbsp;</td>
				<td align="center" width="10%">&nbsp;${I18n.getMessage("ForumIndex.lastMessage")}&nbsp;</td>
			</tr>
		</thead>
		
		#if($results.size()==0)
			<tr>
				<td align="center" width="10%">&nbsp;</td>
				<td align="left" colspan="6">${I18n.getMessage("ForumListing.noMessages")}</td>
			</tr>
		#end
		<!-- TOPICS LISTING -->
		#foreach($topic in $topics)
			#set($forum = $fr.getForum($topic.forumId))

			<tr>
				<td class="row1" valign="middle" align="center" width="20">
					<@presentation.folderImage topic/>
				</td>
				<td class="row1 topictitle">
					<a href="${contextPath}/forums/show/${forum.id}${extension}">${forum.name}</a>
				</td>
				<td class="row1">
					<a href="${contextPath}/posts/list/${topic.id}${extension}" class="topictitle">#if($topic.title)No Subject#else${topic.title}#end</a>

					#if($topic.paginate)
						<span class="gensmall">
							<br />
							<@pagination.littlePostPagination topic.id, postsPerPage, topic.totalReplies/>
						</span>
					#end
				</td>
				<td class="row2 postdetails" valign="middle" align="center">
					${topic.totalReplies}
				</td>
				<td class="row3 name" valign="middle" align="center">
					<a href="${contextPath}/user/profile/${topic.postedBy.id}${extension}">${topic.postedBy.username}</a>
				</td>
				<td class="row2 postdetails" valign="middle" align="center">
					${topic.totalViews}
				</td>
				<td class="row3" valign="middle" nowrap="nowrap" align="center">
					#if($topic.lastPostTime)
						<span class="postdetails">${topic.lastPostTime}<br />
						<a href="${contextPath}/user/profile/${topic.lastPostBy.id}${extension}">${topic.lastPostBy.username}</a>

						#set ($startPage = 0)
						#if($topic.totalReplies + 1 > $postsPerPage)
							#set( $startPage = (($topic.totalReplies / $postsPerPage)* $postsPerPage))
						#end
						<a href="${contextPath}/posts/list/${startPage}${topic.id}${extension}#${topic.lastPostId}"><img src="${contextPath}/templates/${templateName}/images/icon_latest_reply.gif" border="0" alt="[Latest Reply]" /></a>
						</span>
					#end
				</td>
			</tr>
		#end
		<!-- END OF TOPICS LISTING -->
	</table>
</div>
<DIV class=pages_btns>
	<div class="pages">
		<a class="nav" href="/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a>
	</div>
	${paginationLinks}
</DIV>
<div id="nav">
	<a class="nav" href="/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a>
</div>
#parse("/templates/$!{templateName}/inc/folder.vm")
#parse("/templates/$!{templateName}/inc/bottom.vm")