<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$!{title}</title>
        #parse('/inc/page/meta.vm')
        <link title="iforums 技术论坛" href="http://www.globle.tk" type=text/x-opml rel=outline>
            <link href="$!{contextpath}/skin/default/css/style.css" type=text/css rel=stylesheet>
                <script src="$!{contextpath}/js/jquery-1.4.2.min.js" type=text/javascript></script>
                <script src="$!{contextpath}/js/common.js" type=text/javascript></script>
                #parse('/inc/page/kindEditor.vm')
</head>
<body>
    <div class=wrap>
        #parse('/inc/page/header.vm')
        #parse('/inc/page/nav.vm')
        #parse('/inc/page/path.vm')
        <div id="headfilter">
            <ul class="tabs">
                <li class="spec">
                    <a href="$!{contextpath}/$!p.msgInbox()">收件夹</a>
                </li>
                <li >
                    <a href="$!{contextpath}/$!p.msgOutbox()" title="已发信息">已发信息</a>
                </li>
                <li style="border: medium none;">
                    <a href="/iforums/pm/send.html">发送新的短信</a>
                </li>
            </ul>
        </div>
        <div class="mainbox topiclist">
            <h1>收件夹</h1>
            <script type="text/javascript">
                function select_switch(status) 
                {
                for (i = 0; i < document.privmsg_list.length; i++) {
                    document.privmsg_list.elements[i].checked = status;
                    }
                    }
</script>
<form action="/iforums/jforum.html" method="post" name="privmsg_list" id="privmsg_list">
    <input type="hidden" name="module" value="pm" />
    <input type="hidden" name="action" value="delete" />
    <table cellspacing="0" cellpadding="10" width="100%" align="center" border="0">
        <tbody>
            <thead class="category">
                <tr>
                    <td width="5px"></td>
                    <td nwidth="5px" height="25"></td>
                    <td width="50%" align="left">
                        &nbsp;主题&nbsp;
                    </td>
                    <td width="20%">
                        &nbsp;来自&nbsp;
                    </td>
                    <td nowrap="nowrap" width="100px">
                        &nbsp;日期&nbsp;
                    </td>
                </tr>
            </thead>
            <tr>
                <td class=folder></td>
                <td>没有短信息~</td>
                <td class=author></td>
                <td class=nums></td>
                <td class="lastpost" align="right"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <b>
                        <span class="gensmall">
                            <a class="gensmall" href="javascript:select_switch(true);">全选</a>
                            <a href="javascript:select_switch(false);">取消全选</a>
                        </span>
                    </b>
                </td>
                <td class="catbottom" align="right" colspan="2" height="28">
                    &nbsp; <input class="submit" type="submit" value="删除选择信息" name="delete" />
                    <!--
                    &nbsp; <input class="submit" type="submit" value="删除全部" name="deleteall" />
                    -->
                </td>
            </tr>
        </tbody>
    </table>
</form>
</div>
</td>
</tr>
</table>
<div id="foruminfo">
    #parse('/inc/page/path.vm')
</div>
#parse('/inc/page/footer.vm')
</div>
</body>
</html>
