<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$!{encoding}" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<link rel="icon" href="$!{contextPath}/favicon.ico" mce_href="$!{contextPath}/favicon.ico" type="image/x-icon">
<style type="text/css">@import url( $!{contextPath}/templates/$!{templateName}/styles/style.css?$!{startupTime} );</style>
<SCRIPT src="$!{contextPath}/templates/$!{templateName}/js/common.js" type=text/javascript></SCRIPT>
<SCRIPT src="$!{contextPath}/templates/$!{templateName}/js/ajax.js" type=text/javascript></SCRIPT>
<title>$!{pageTitle}</title>

</head>
<body class="$!{language}">
<table cellspacing="0" cellpadding="0" width="100%" border="0">
	<tr>
		<td>
			<a href="${contextPath}/index.html"><img src="$!{contextPath}/templates/$!{templateName}/images/logo.jpg"  vspace="1" border="0" alt="[Logo]" /></a>
		</td>					 
		<td width="100%" align="center" valign="middle">
			<table cellspacing="0" cellpadding="2" border="0">
				<tr>
					<td valign="top" nowrap="nowrap" align="center">&nbsp;
					
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div id="headermenu">
	<ul>
#if(!$loginUser)
		<li><a id="register" class="mainmenu" href="$!{contextPath}/agreement.html">
		$!{I18n.getMessage("ForumBase.register")}</a></li>
		<li><a id="login" class="mainmenu" href="$!{contextPath}/login.html">
		 $!{I18n.getMessage("ForumBase.login")}</a></li>
#end
	<li><a id="search" class="mainmenu" href="$!{contextPath}/search/filters.html">$!{I18n.getMessage("ForumBase.search")}</a></li>
	<li><a id="latest" class="mainmenu" href="$!{contextPath}/recentTopics/list.html">$!{I18n.getMessage("ForumBase.recentTopics")}</a></li>
	<li><a id="hottest" class="mainmenu" href="$!{contextPath}/hottestTopics/list.html">$!{I18n.getMessage("ForumBase.hottestTopics")}</a></li>
	<li><a id="latest2" class="mainmenu" href="$!{contextPath}/user/list.html">$!{I18n.getMessage("ForumBase.usersList")}</a></li>
	<li><a id="backtosite" class="mainmenu" href="$!{homepageLink}">$!{I18n.getMessage("ForumBase.backToSite")}</a>&nbsp;</li>
#if($canAccessModerationLog)
		<li><a id="moderationlog" class="mainmenu" href="$!{contextPath}/moderation/showActivityLog")}">$!{I18n.getMessage("ModerationLog.moderationLog")}</a></li>
#end
#if($loginUser)
		<li><a id="myprofile" class="mainmenu" href="$!{contextPath}/user/edit/$!{session.userId}.html">
		 $!{I18n.getMessage("ForumBase.profile")}</a>&nbsp; </li>
#if($loginUser.bookmarksEnabled)
			<li><a class="mainmenu" href="$!{contextPath}/bookmarks/list/$!{session.userId}.html">
			$!{I18n.getMessage("Bookmarks.myBag")}</a>&nbsp;</li>
#end
		<li><a id="privatemessages" class="mainmenu" href="$!{contextPath}/pm/inbox.html">
#if ($loginUser.privateMessages > 0)
				$!{I18n.getMessage("ForumBase.newPm")}: ($!{session.privateMessages})
#else
				$!{I18n.getMessage("ForumBase.privateMessages")}
#end
		</a>&nbsp;</li>
#if($loginUser)
			<li><a id="logout" class="mainmenu" href="$!{contextPath}/logout.html">
			$!{I18n.getMessage("ForumBase.logout")} $!{session.username} </a></li>
#end
#end
	</ul>
</div>

<table width="100%" border="0">
	<tr>
		<td>

