
		<img align="absmiddle" border="0" alt="${I18n.getMessage("UserProfile.profileFor")}" src="${contextPath}/images/user_add.gif" alt="" />
		<a href="${JForumContext.encodeURL("/user/profile/${user.id}")}" class="icon_profile" title="${I18n.getMessage("UserProfile.profileFor")}">${I18n.getMessage("UserProfile.profileFor")}</a>
		&nbsp;&nbsp;
		<img src="${contextPath}/images/sendsms.gif" align="absmiddle" border="0" alt="${I18n.getMessage("UserProfile.sendMessage")}" />
		<a href="${JForumContext.encodeURL("/pm/sendTo/${user.id}")}" class="icon_pm" title="${I18n.getMessage("UserProfile.sendMessage")}">${I18n.getMessage("UserProfile.sendMessage")}</a>

		<#if (user.isViewEmailEnabled() && user.email?exists && user.email?length > 0)>
			<#assign e = user.email.split("@")/>

			<#if e?size == 2>
				<a href="javascript:sendEmail('${e[0]}', '${e[1]}');"><img src="${contextPath}/templates/${templateName}/images/icon_email.gif" alt="[Email]" /></a>
			</#if>
		</#if>
		
		<#if (user.webSite?exists && user.webSite?length > 0)>
			<a href="${user.webSite?html}" target="_new"><img src="${contextPath}/templates/${templateName}/images/icon_www.gif" alt="[WWW]"/></a>
		</#if>
		
		<#if (user.yim?exists && user.yim?length > 0)>
			<a href="http://edit.yahoo.com/config/send_webmesg?.target=${user.yim?html}&amp;.src=pg"><img src="${contextPath}/templates/${templateName}/images/icon_yim.gif" alt="[Yahoo!]" /></a>
		</#if>

		<#if (user.aim?exists && user.aim?length > 0)>
			<a target="_new" href="https://my.screenname.aol.com/_cqr/login/login.psp"><img src="${contextPath}/templates/${templateName}/images/icon_aim.gif" border="0" alt="aim icon"/></a>
		</#if>
		
		<#if (user.msnm?exists && user.msnm?length > 0)>
			<a href="${JForumContext.encodeURL("/user/profile/${user.id}")}"><img src="${contextPath}/templates/${templateName}/images/icon_msnm.gif" alt="[MSN]"  /></a>
		</#if>
		
		<#if (user.icq?exists && user.icq?length > 0)>
			<a href="http://wwp.icq.com/scripts/search.dll?to=${user.icq?html}"><img src="${contextPath}/templates/${templateName}/images/icon_icq_add.gif" alt="[ICQ]" /></a>
		</#if>